doctype html
html(lang='en')
	head
		title=`${title}`
		link(rel='preconnect', href='https://fonts.gstatic.com')
		link(rel='preconnect', href='https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&display=swap')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//link(rel='stylesheet', href='/css/resume.css')
		link(rel='stylesheet', href='/css/resume-test.css')
	body
		div.container
			div.sidebar
				div
					a(href='#') 
						i.fa.fa-home.icon-style(aria-hidden="true") 
						span HOME 	
				div
					a(href='#') 
						i.fa.fa-user.icon-style(aria-hidden="true")
						span ABOUT
				div
					a(href='#')
						i.fa.fa-eye.icon-style(aria-hidden="true")
						span PHOTOS
				div
					a(href='#') 
						i.fa.fa-envelope.icon-style(aria-hidden="true")
						span CONTACT 
			div.contents
				// Introductions
				div.tagline Hi, my name's Bright...
				
				// About me
				div.subsection.section-divider 
					span.title Profile
					br
					h5 I am fascinated by fluids and everything else that behaves like them.
					table.about-me
						tc
							td
								Quick note about me
							td
								An image
							td
								Quick contact
				// Education
				div.subsection.section-divider
					span.title Education
					div.carousel.slide.carousel-fade(data-bs-ride="carousel")
						div.carousel-inner
							each i in education
								if i.first
									div.carousel-item.active(data-bs-interval="2200") 
										div
											img.logo-style(src=i.logo)
										div.row-layout.set-center
											div.table-format
												div.table-row-elements.row-head
													i.fa.fa-graduation-cap
												div.table-row-elements
													span !{i.school}
											div.table-format
												div.table-row-elements.row-head
													span From
												div.table-row-elements
													span !{i.start}
											div.table-format
												div.table-row-elements.row-head
													span To
												div.table-row-elements
													span !{i.end}
											div.table-format
												div.table-row-elements.row-head
													span Course
												div.table-row-elements
													span !{i.title}
											div.table-format
												div.table-row-elements.row-head
													span Thesis
												div.table-row-elements
													span !{i.thesis}
								else
									div.carousel-item(data-bs-interval="2200")
										div
											img.logo-style(src=i.logo)
										div.row-layout
											div.table-format
												div.table-row-elements.row-head
													i.fa.fa-graduation-cap
												div.table-row-elements
													span !{i.school}
											div.table-format
												div.table-row-elements.row-head
													span From
												div.table-row-elements
													span !{i.start}
											div.table-format
												div.table-row-elements.row-head
													span To
												if i.complete
													div.table-row-elements
														span !{i.end}
												else
													div.table-row-elements
														span Did not complete.
											div.table-format
												div.table-row-elements.row-head
													span Course
												div.table-row-elements
													span !{i.title}
											if ~i.complete
												div.table-format
													div.table-row-elements
														span !{i.reason}
				// Experience
				div.subsection.section-divider 
					span.title Experience
					each j in experience
						div.card-style
							div.table-format
								div.table-row-elements.row-head
									span Company
								div.table-row-elements
									span !{j.school}
							div.table-format
								div.table-row-elements.row-head
									span Job Title
								div.table-row-elements
									span !{j.title}
							div.table-format
								div.table-row-elements.row-head
									span From
								div.table-row-elements
									span !{j.start}
							div.table-format
								div.table-row-elements.row-head
									span To
								div.table-row-elements
									span !{j.end}
							div.table-format
								div.table-row-elements.row-head
									span Duties
								div.table-row-elements
									span !{j.thesis}
								
				
				// A list of tools that I am proficient in
				div.subsection.section-divider 
					span.title Abilities
					br
					span Over the years I have improved my proficiency in the following tools:
					br
					span Computational Fluid Dynamics
					div.empty-skill-bar 
						div.cfd.skill-level
							span.tooltiptext I have experience working with STARCCM+ (2 years) and ANSYS Fluent (5 years).
						
					span Python 
					div.empty-skill-bar 
						div.python.skill-level
						
					span Matlab
					div.empty-skill-bar 
						div.matlab.skill-level
						
					span Solid Edge
					div.empty-skill-bar 
						div.cfd.skill-level
						
					span Javascript
					div.empty-skill-bar 
						div.javascript.skill-level
						
					span CSS
					div.empty-skill-bar 
						div.css.skill-level
						
					span HTML
					div.empty-skill-bar 
						div.html.skill-level
						
				div.subsection.section-divider 
					h1 My Photos
				
				div.subsection.section-divider 
					span.title Contact Me
					div.contact-section
						div.location
							h4 Current Location
							i.fa.fa-map-marker.icon-style
							br
							span Pretoria, South Africa
						div.contact-form
							block content
					div.social-media
						div
							a(href="#")
								i.fa.fa-instagram.icon-style
						div
							a(href="#")
								i.fa.fa-twitter.icon-style
						div
							a(href="#")
								i.fa.fa-linkedin.icon-style

				//button(onclick='topFunction()', id='returnTop') Top
				
		script(src='/js/resume.js')
		script(src='/js/bootstrap.min.js')
